* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 90px;
    display: grid;
    align-items: center;
}

.navCenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.navLogo {
    width: 50px;
}

ul {
    list-style-type: none;
}

.navLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-self: end;
    column-gap: 30px;
}

a {
    text-decoration: none;
}

.navLinks a {
    color: gray;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 0.2s linear;
}

.navLinks a:hover {
    color: darkmagenta;
}

.sectionCenter {
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}

.sectionPadding {
    padding: 100px 0;
}

.banner {
    background: ghostwhite;
}

.bannerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.title {
    font-size: 50px;
}

.underline {
    width: 90px;
    height: 4px;
    background: darkmagenta;
    margin: 5px auto 20px auto;
}

.bannerInfo .underline {
    margin: 5px auto 20px 0;
}

.bannerInfo h2 {
    color: gray;
}

.btn {
    color: brown;
    background: white;
    padding: 10px 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.3s linear;
}

.btn:hover {
    background: lightyellow;
}

.bannerPhoto {
    width: 400px;
    border: 4px solid darkmagenta;
    border-radius: 20px;
}

.aboutDiv {
    background: azure;
}

.aboutCenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.aboutTitle {
    text-align: center;
    margin-bottom: 30px;
}

.aboutBtn {
    text-align: center;
}

.servicesSection {
    background: antiquewhite;
}

.servicesTitle {
    text-align: center;
    margin-bottom: 60px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.service{
    background: white;
    padding: 50px 25px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.service:hover{
    background-color: darkmagenta;
    color:white;
}

.serviceIcon{
    font-size: 30px;
    margin-bottom: 25px;
}

.service h4{
    font-size: 20px;
}

.service .underline{
    width: 50px;
    height: 5px;
    transition: all 0.3s linear;
}

.service:hover .underline{
    background-color: white;
}

.projectsSection{
    background: darkgray;
}

.projectsTitle{
    text-align: center;
    margin-bottom: 60px;
}

.projectsText{
    max-width: 500px;
    margin: 0 auto;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 20px;
    grid-template-areas: 
    'a b b'
    'a c d'
    ;
}

.project1{
    grid-area: a;
}
.project2{
    grid-area: b;
}
.project3{
    grid-area: c;
}
.project4{
    grid-area: d;
}

.project, .projectImg{
    height: 100%;
    border-radius: 8px;
}

.project{
    position: relative;
    background: darkmagenta;
}

.projectImg{
    width: 100%;
    transition: all 0.4s linear;
}

.projectInfo{
    position: absolute;
    color: white;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: all 0.4s linear;
}

.project:hover .projectInfo{
    opacity: 1;
}

.project:hover .projectImg{
    opacity: 0.1;
}

.project::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 8px;
    opacity: 0;
    transition: all 0.4s linear;
}

.project:hover::before{
    opacity: 1;
    transform: scale(0.8);
}

.skillsSection{
    background-color: aliceblue;
}

.skillsTitle{
    text-align: center;
    margin-bottom: 60px;
}

.skillsCenter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.skillsCenter h3{
    font-size: 22px;
    text-align: center;
    color:brown;
    margin: 25px 0;
}

.skill{
    margin-bottom: 20px;
}

.skill p{
    margin-bottom: 8px;
    color: brown;
}

.skillContainer{
    position: relative;
    width: 100%;
    height: 16px;
    background: white;
    border-radius: 10px;
}

.skillValue{
    position: absolute;
    background: darkmagenta;
    height: 100%;
    border-radius: 10px;
}

.value85{
    width: 85%;
}

.value90{
    width: 90%;
}

.value95{
    width: 95%;
}

.skillText{
    position: absolute;
    top:-26px;
    transform: translateX(-50%);
}

.left85{
    left:85%;
}

.left90{
    left:90%;
}

.left95{
    left:95%;
}