* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 90px;
    display: grid;
    align-items: center;
}

.navCenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.navLogo {
    width: 50px;
}

ul {
    list-style-type: none;
}

.navLinks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-self: end;
    column-gap: 30px;
}

a {
    text-decoration: none;
}

.navLinks a {
    color: gray;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 0.2s linear;
}

.navLinks a:hover {
    color: darkmagenta;
}

.sectionCenter {
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
}

.sectionPadding {
    padding: 100px 0;
}

.banner {
    background: ghostwhite;
}

.bannerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.title {
    font-size: 50px;
}

.underline {
    width: 90px;
    height: 4px;
    background: darkmagenta;
    margin: 5px auto 20px auto;
}

.bannerInfo .underline {
    margin: 5px auto 20px 0;
}

.bannerInfo h2 {
    color: gray;
}

.btn {
    color: brown;
    background: white;
    padding: 10px 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all 0.3s linear;
}

.btn:hover {
    background: lightyellow;
}

.bannerPhoto {
    width: 400px;
    border: 4px solid darkmagenta;
    border-radius: 20px;
}

.aboutDiv{
    background: azure;
}

.aboutCenter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.aboutTitle{
    text-align: center;
    margin-bottom: 30px;
}

.aboutBtn{
    text-align: center;
}